@import url(https://fonts.googleapis.com/css2?family=Michroma&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Preahvihear&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--primary-font);
    background-color: #F6F7F9;
}

:root {
    --primary-font: Plus Jakarta Sans, sans-serif;

    --primary-color: #1A202C;
    --primary-color-500: #3563E9;
    --secondary-color-300:  #90A3BF;
    --secondary-color: #FFFFFF;
    --secondary-color-500: #1A202C;
    --information-color: #54A6FF;
    --heart-color: #ED3F3F;

    --primary-font-size: 16px;
    --secondary-font-size: 14px;
    --primary-heading-size: 32px;
    --secondary-heading-size: 20px;

}

a {
    text-decoration: none;
}
.navigation {
    background-color: #FFFFFF;
}
.logo-search-wrapper {
    display: flex;
    align-items: center;
    padding: 35px 60px;
}
.logo a {
    font-size: var(--primary-heading-size);
    font-weight: 700;
    color: var(--primary-color-500);
}
.search-form {
    display: flex;
    align-items: center;
    width: 492px;
    height: 44px;
    background-color: var(--secondary-color);
    border-radius: 70px;
    border: 1px solid #C3D4E966;
    gap: 12px;
    padding: 0 20px;
    margin-left: 64px;
}
.search-form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-form input {
    border: none;
    outline: none;
    font-size: var(--secondary-font-size);
    flex-grow: 1;
    padding-top: 4px;
}
.cta-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}
.cta-wrapper a img {
    transition: transform 0.3s ease;
}
.heart-btn:hover img {
    transform: scale(1.2);
    filter: brightness(0) saturate(100%) invert(15%) sepia(81%) saturate(7455%) hue-rotate(358deg) brightness(97%) contrast(113%)
}
.setting-btn:hover img { 
    transform: rotate(90deg);
}
.notification-btn:hover img {
    animation: ring 0.5s ease-in-out;
}
@keyframes ring {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(-15deg); }
    75% { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
}
.cta-wrapper a {
    border-radius: 50%;
    border: 1px solid var(--secondary-color-300);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.cta-wrapper a:last-child {
    border: none;
} 
.notification-btn {
    position: relative;
}
.red-dot-img {
    position: absolute;
    top: 0px;
    right: 2px;
    width: 11px;
}